@import url("libs.min.css");
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font: 1em "Montserrat", Arial, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #000;
}
a {
  font-family: Montserrat;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  color: #000;
}
h1,
h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
h1:hover {
  letter-spacing: 1em;
}
h3 {
  font-weight: 300;
}
p {
  font-weight: 400;
}
audio {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translateY(calc(-100vh + 50px));
      -ms-transform: translateY(calc(-100vh + 50px));
          transform: translateY(calc(-100vh + 50px));
}
#header,
.footer {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  z-index: 250;
}
.footer {
  position: absolute;
  bottom: 0;
}
.footer_x a {
  padding: 0 6px;
}
#left,
#right {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  text-align: center;
  line-height: 40px;
}
#left {
  left: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
#right {
  right: 0;
}
#menu {
  position: absolute;
  left: 0;
  top: calc(-100vh + 50px);
  width: 100%;
  background: #fff;
  display: block;
  z-index: 77;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#backIcon {
  height: 50px;
  width: 28px;
  position: absolute;
  right: 2%;
  z-index: 228;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#backIcon:hover #backFline {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
#backIcon:hover #backSline {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 60%;
  top: 3px;
}
#backIcon:hover #backTline {
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 60%;
  top: -9px;
}
#backFline,
#backSline,
#backTline {
  position: relative;
  height: 2px;
  width: 100%;
  background: #000;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#backFline {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#backSline {
  top: -2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#backTline {
  top: -4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50px;
  right: 40px;
  bottom: 50px;
  left: 40px;
}
.mid_text p {
  padding: 5px 0;
  text-align: center;
}
.photo {
  width: 640px;
  height: 360px;
  max-width: 96%;
  max-height: 100%;
  background: url("../img/1.png") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.photo:hover #mainTitle {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
}
#mainTitle {
  background: #000;
  color: #fff;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#mainTitle p {
  margin-top: 1vh;
}
.move-wrap {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #000;
}
#follower {
  position: relative;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#contentX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50px;
  right: 40px;
  bottom: 50px;
  left: 40px;
}
.portfolio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio_box {
  height: 160px;
  min-height: 40px;
  width: 640px;
  max-width: 96%;
  position: relative;
  overflow: hidden;
  margin: 17px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.portfolio_box h1 {
  color: #fff;
  position: relative;
  top: calc(50% - 20px);
  height: 32px;
  font-size: 32px;
  font-weight: 800;
  z-index: 21;
}
.portfolio_box img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.portfolio_box:hover.portfolio_box img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.portfolio_box:hover.portfolio_box h1 {
  letter-spacing: 0.33em;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scrollHide {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 0 25px;
  overflow-y: scroll;
}
.scrollHide::-webkit-scrollbar {
  display: none;
}
.projectBox {
  margin: 50px auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  height: 360px;
  max-width: 96%;
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  position: relative;
}
.projectBox:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
}
.projectBox img {
  max-width: 360px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3%;
}
.aboutProject {
  width: 100%;
  padding: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.aboutProject h2 {
  margin: 3% 0;
}
.aboutProject p {
  margin: 6% 0;
  height: 74%;
}
.aboutProject .dBtn {
  bottom: 6%;
  padding: 10px 20px;
  background: #eee;
  border-radius: 21px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.aboutProject .dBtn:hover {
  background: transparent;
  letter-spacing: 0.2em;
}
#artCenter {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 50px;
}
.artBox {
  width: 360px;
  height: 420px;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  overflow: hidden;
}
.artBox:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
}
.artBox:hover.artBox img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.artBox img {
  max-width: 100%;
  min-height: 100%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scrollHideFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}
#contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#contactBox {
  width: 320px;
  text-align: center;
}
#contactBox h2 {
  font-size: 16px;
  letter-spacing: normal;
  margin-bottom: 16px;
}
#contactBox p {
  margin-bottom: 8px;
  font-size: 14px;
}
#contactBox .social a {
  margin: 0 3px;
}
#contactBox .social a img {
  height: 24px;
}
#contactForm {
  width: 444px;
  font-size: 14px;
}
#contactForm input:nth-child(-n+2) {
  height: 36px;
  border: none;
  outline: none;
  width: calc(50% - 15px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  float: left;
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}
#contactForm input[type=submit] {
  display: block;
  margin: 0 auto;
  height: 36px;
  border: none;
  outline: none;
  width: 120px;
  color: #fff;
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  background: #000;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #000;
}
#contactForm input[type=submit]:hover {
  color: #000;
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  background: transparent;
}
#contactForm input:focus {
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  overflow: hidden;
}
#contactForm input:first-child {
  margin-left: 0;
}
#contactForm input:nth-child(2) {
  float: right;
}
#contactForm input:nth-child(3) {
  margin: 0 auto;
}
#contactForm textarea {
  margin-bottom: 30px;
  padding: 15px;
  height: 80px;
  border: none;
  outline: none;
  resize: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#contactForm textarea:focus {
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
}
#aboutPhoto {
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  background: url("../img/about.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
}
#aboutBox {
  padding: 2% 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px auto;
  width: 80%;
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}
#aboutBox:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
}
#aboutBox p {
  line-height: 28px;
  margin-bottom: 18px;
  max-width: 100%;
}
#aboutBox p :last-child {
  margin-bottom: 0px;
}
#music {
  position: absolute;
  top: 50px;
  right: 40px;
  bottom: 50px;
  left: 40px;
}
#musicContainer {
  width: 100%;
  height: calc(100% - 15vw);
  padding: 2vw 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#btnContainer {
  width: 100vw;
  height: 7vw;
  position: fixed;
  padding: 3vw 0;
  left: 0;
  bottom: 50px;
}
.musicBox {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vw;
  height: 100%;
  padding: 2vh 1vw;
  font-size: 1.7vh;
  letter-spacing: 0.1em;
  background: #eee;
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  -webkit-transition: letter-spacing 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  position: relative;
  font-weight: lighter;
}
.musicBox:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  cursor: pointer;
  letter-spacing: 0.05em;
  background: #efefef;
}
.musicBox.active {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  background: #dcdcdc;
  letter-spacing: 0.05em;
  background: #dcdcdc;
}
.pauseBox {
  background: url("../img/play.svg") no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: 5vw;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 48px rgba(0,0,0,0.21);
          box-shadow: 0 0 48px rgba(0,0,0,0.21);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  margin: 0 auto;
}
.pauseBox:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  cursor: pointer;
}
.pauseBox.pause {
  background: url("../img/pause.svg") no-repeat;
  background-position: center center;
  background-size: 71%;
  background-color: #fff;
}
.pauseBox.pause:hover {
  -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.17);
          box-shadow: 0 0 21px rgba(0,0,0,0.17);
  cursor: pointer;
}
#calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50px;
  right: 40px;
  bottom: 50px;
  left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#calc_conv_type {
  position: relative;
  width: 173px;
  margin-right: 7px;
  height: 36px;
  margin-bottom: 4px;
}
#calc_conv_content div {
  width: 250px;
  margin-left: 70px;
  height: 40px;
}
#calc_conv_content .reset {
  height: 20px;
}
#calc_conv_content div input {
  height: 32px;
  width: 169px;
}
@media (max-width: 768px), (max-height: 320px) {
  #header a,
  #left a,
  #right a,
  .footer a,
  .footer_x,
  .footer {
    display: none;
  }
  #content {
    left: 0;
    right: 0;
    bottom: 0;
  }
  .photo {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
  #menu_icon {
    height: 50px;
    width: 28px;
    position: absolute;
    left: 2%;
    z-index: 228;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu_icon:hover {
    cursor: pointer;
  }
  #menu_icon:hover #menuBline {
    -webkit-transform: scale(0.6, 1);
        -ms-transform: scale(0.6, 1);
            transform: scale(0.6, 1);
  }
  #menuTline,
  #menuBline {
    position: relative;
    height: 2px;
    width: 100%;
    background: #000;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  #menuTline {
    margin-bottom: 13px;
  }
  #menuTline.openLine {
    margin-bottom: 0px;
    top: 2px;
  }
  #menu {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    -webkit-transform: translateY(calc(-100vh + 50px));
        -ms-transform: translateY(calc(-100vh + 50px));
            transform: translateY(calc(-100vh + 50px));
  }
  #menu a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  #menu a:hover {
    letter-spacing: 0.4em;
    background: #f5f5f5;
  }
  #menu.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    bottom: 0;
    top: 50px;
  }
  #contentX {
    top: 50px;
    right: 25px;
    bottom: 0;
    left: 25px;
  }
  .scrollHide {
    bottom: 0;
    z-index: 48;
  }
  .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectBox img {
    width: 100%;
  }
  .portfolio_box h1 {
    top: calc(50% - 2.5vmin);
    height: 5vmin;
    font-size: 5vmin;
  }
  .aboutProject .dBtn {
    display: block;
    padding: 10px 20px;
    background: #eee;
    border-radius: 21px;
    margin-bottom: 3%;
  }
  .aboutProject p {
    height: auto;
  }
  #artCenter {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .artBox {
    width: 100%;
    height: auto;
  }
  .artBox img {
    width: 100%;
    height: auto;
    min-height: 0;
  }
  .scrollHideFlex {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 50px;
  }
  #contact {
    display: block;
  }
  #contactBox {
    display: block;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #contactBox h2 {
    display: none;
  }
  #contactBox #hiddenP {
    display: none;
  }
  #contactForm {
    width: 100%;
    font-size: 14px;
  }
  #contactForm input {
    float: none;
    width: 100%;
  }
  #contactForm input:nth-child(-n+2) {
    width: 100%;
    padding-left: 15px;
  }
  .about {
    left: 0;
    right: 0;
    padding: 0 0px;
  }
  #aboutPhoto,
  #aboutBox {
    margin: 0;
    width: 100%;
  }
  #aboutBox {
    padding: 5% 5%;
  }
  #music {
    bottom: 0;
  }
  #musicContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .musicBox {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-writing-mode: lr-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: lr-tb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100px;
    padding: 2vh 3vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .pauseBox {
    background-size: 40px;
    height: 60px;
    width: 60px;
    font-size: 2vh;
  }
  #btnContainer {
    bottom: 50px;
  }
}
@media (max-height: 320px) {
  .portfolio_box {
    background: #000;
    margin: 1.6vh 0;
    max-height: 15vh;
  }
  .portfolio_box img {
    opacity: 0;
  }
  #calc {
    bottom: 0px;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
